#x {
  width:30px;
   height:30px;
}
body 

.navbar-default{ 
background-color:#FBB13C;}

body{ 
background-color:#1446A0;}

.navbar-nav{
  margin-top:10px;
  font-size:19px;
}
.navbar  {
  margin-bottom:0px;
}
#car {
 width: 100%; /* use this, or not */
margin:auto;
   }

#who {
  background-color:#1446A0;
  
}

.row {
  margin-top:45px;
  margin-left:auto;
margin-right:auto;
}